html,
body {
  background-color: rgb(197, 45, 45);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.cont{
  background-color: rgb(0, 255, 98);
  height: 500px;
  width: 40%;
  margin-left: 30%;
}

.inner{
  position: absolute;
  background-color: rgb(255, 0, 51);
  height: 100px;
  width: 150px;
  margin-left: 15%;
  margin-top: 40px;
  padding: 45px;
  box-sizing: border-box;
}

.Inputcontent{
  margin-top: 41px;
}

.dataa{
  background-color: rgb(63, 49, 49);
  height: 70px;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

.dataa p{
  display: inline;
margin-right: 200px;
font-size: 35px;
color: aliceblue;
padding-left: 20px;
}


.Top_wallpaper{
  background-image: url("../public/1267581.jpg");
  height: 768px;
  background-size:cover;
  background-repeat: no-repeat;
}

.Input_Conatiner{
  height: 200px;
  width: 60%;
  background-color: rgb(161, 37, 130);
  position: relative;
  left: 20%;
  top: 100px;
  border-radius: 10px;
  margin-bottom:150px;
}




.date_time_set{
  background-color: yellow;
  height: 50px;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
  margin-right: 15px;
  padding: 10px;
}

.Submit_Button{
  position: relative;
  left: 42%;
  width: 100px;
}

.show{
  background-color: rgb(232, 22, 211);
  position: relative;
  margin-top: 15px;
  height: 40px;
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
}

.mc{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}


.bac{
  background-color: aqua;
  height: 40px;
  
}

.back{
  background-color: rgb(0, 255, 34);
  height: 40px;
  
}

.part{
  transition: 2s;
  
}

.part:hover{
  transform: scale(1.2);
  
}